.connect{
	display: inline-block;
  width: 32px;
  height: 35px;
  margin-top: 15px;
}
.connect a.facebook {
    background: url(../media/facebook.png) center center no-repeat;
  }

.connect a.twitter {
    background: url(../media/twitter.svg) center center no-repeat;
}